body {
    height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



html, body {
  height: 100%;
  overflow-y: auto; /* ensure vertical scroll works */
  scroll-behavior: smooth; /* optional, makes scrolling smooth */
}








