/* Carousel container */
.carousel {
  margin: 100px;
  width: 90%;
  border: 5px solid red;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;

}

/* Hide scrollbar – Chrome, Edge, Safari */
.carousel::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar – Firefox */
.carousel {
  scrollbar-width: none;
}

/* Group wrapper (if used) */
.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 5s linear infinite;
  padding-right: 1em;
}

/* Card styles */
.card {
  flex: 0 0 10em;
  height: 5em;
  padding: 1em;
  background: #b80e0e;
  border-radius: 0.2em;
  text-align: center;

  display: flex;
  align-content: center;
  justify-content: center;

  font-size: 3em;
}
@keyframes spin{
    from{translate: 0;}
    to{translate: -100% ;}
}